@import url('https://fonts.googleapis.com/css2?family=Oregano:ital@0;1&family=Ubuntu:wght@400;700&display=swap');
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Oregano', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;   
    flex: 1 1 100vw;
    font-family: 'Ubuntu', sans-serif;  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
header, main, aside, footer{
    display: flex;
    margin: 3px;     
}
header{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;       
    background-image: url(/assets/img/backgroud.svg);
}
.top{
    display: flex;
    flex: 1 1 100vw;  
    height: 50px;
    justify-content:flex-end;   
    padding: 0 20px;
    border-bottom: outset 5px rgba(1, 1, 1, 0.1);
    background: rgba(0, 0, 0, 0.5);
}
.item{
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.item a{    
    text-decoration: none;    
    padding: 0 10px;      
    font-size: 32px;    
    color: rgba(255, 255, 255, 0.5);       
} 
.item a:hover{
    color: rgb(255, 255, 255); 
}   
.hero{
    display: flex;
    flex: 1 1 100vw;
    height: 250px;     
    
}
.logo{
    display: flex;
    flex: 1 1 100vw;
    width: 100%;
    height: 100%;    
    justify-content:center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
     
}
.logo img{       
    width: 150px;
    height: 150px;
    margin-right: 15px;
}
.logo img:hover{
  opacity: 0.8;
}   
.logo h1{
    border-top: solid 5px rgba(0, 0, 0, 0.4);
    border-bottom: solid 5px rgba(0, 0, 0, 0.4);
    font-size: 42pt;
    font-weight: 900;
    background: rgba(0, 0, 0, 0.2);
    color: #f0f0f0;
    text-shadow: 5px 1px rgb(0, 0, 0);
}
.text {     
    flex: 1 1 100vw;   
    width: 100%;
    height: 100%;
    padding:20px;
    font-weight:600;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
    text-align: justify;
    text-shadow: 5px 1px rgb(0, 0, 0);
} 
.text a{
    text-decoration: none;     
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 25px;    
    color: white;          
}   
.text a:hover{
    background: rgb(172,147,49, 0.5);
    color: white;
}
.down{
    flex: 1 1 100vw;  
    display: flex;   
    width: 100%;
    height: 50px;
    border-top: outset 5px rgba(1, 1, 1, 0.1);
    background: rgba(0, 0, 0, 0.5); 
}
.logoRecife{
  margin: 0 auto;
}
.logoRecife img{  
    opacity: 0.8;     
    width: 150px;
    height: 40px;
}
.logoRecife img:hover{
    opacity: 1; 
}  
aside{
    flex: 1 1 100vw;    
    display: flex;
    padding: 1%;
    width: 100%;    
}
figure img{        
    width: 100%;     
}
figcaption{
    background: rgba(0, 0, 0, 0.89);
    color: white;  
    width: 100%;
    height: 50px;   
    padding: 1%; 
}
main{            
    margin: 3px;
    padding: 1%;
    height: 700px;
    width: 100vw;
     
} 
.cards{      
    flex: 1 1 100vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 100px;
       
} 
.card{
    width: 300px;
    height: 500px;    
    box-shadow: 5px 5px 10px;   
    margin: 10px auto;    
    text-align: center;
    
}
.card h3{      
    padding-top: 10px;
    margin: 10px;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Oregano', cursive;
    border-bottom: solid 4px rgba(139, 135, 135, 0.8);
}
.card img{    
    width: 95%;
    height: 200px;
     
}
.card p{         
   padding: 5px 10px;
   text-decoration: justify;
   text-align: justify;
}
.botao2{
    background: #40525a;
    padding: 5px 50px;
    margin-top: 20px;
    color: white;
    border-radius: 50px;    
    width: auto;   
    font-size:15px;
    text-decoration: none;
    border: 2px solid ;
}
.botao2:hover{
    background: rgb(172,147,49, 0.5);
    color: black;
}

footer{
    flex: 1 1 100vw;    
    height:auto;
    padding: 1%;
    background: rgba(0, 0, 0, 0.89);
}
footer .left{    
    flex: 1 1 100vw;  
    
}
footer .left a{
    color: white;    
    padding: 10px;
    margin-bottom: 100px;
    font-size: 32px;
    font-weight: 900;
    text-decoration: none;   
    
} 
footer .right{    
    flex: 1 1 100vw; 
    display: flex;     
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
footer .midias{
   display: flex;
   width: 50%;
   justify-content: space-around; 
   align-items: flex-end;
   margin-bottom: 10px;   
}  
footer img{
    width: 300px;
    height: auto;
}
    
 



 